*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 10px;
    background: black;
    color: white;
}

img {
    vertical-align: middle;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.app-wrapper {
    max-width: 1410px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
		'header header header'
		'nav content content';
    grid-template-rows: 74px auto;
    grid-template-columns: 264px auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 16px;
}


